h4{
	text-decoration: overline;
	text-transform: uppercase;
	text-align: center;
}

span{
	color: rgb(255, 123, 0);
	font-size: normal;
}


p {
    color: grey;
    font-style: italic;
    text-align: justify;
}